button {
    width: 20%;
    height: 10vh;
    font-size: 3vw;
    position: relative;
}

.camera-view {
	position: absolute;
	height: 90%;
	width: 100%;
	object-fit: cover;
	left: 0px;
	top: 0px;
}

#outputImage {
	width: 100%;
}

#shutterButton {
	position: absolute !important;
	width: 100% !important;
	height: 10% !important;
	bottom: 0px !important;
}

.cropper-area img {
	display: block;
	max-width: 100%;
}

.block {
	display: block;
}

.hidden {
	display: none;
}

.w100p {
	width: 100%;
}

.h300 {
	height: 300px;
}